:root {
    --bg-page: #181A1B;
    --bg-container: #1F2224;
    --bg-form: #25292D;
    --bg-input: #2E3338;
    --accent: #3BC9DB;
    --accent-hover: #28A8B7;
    --text-primary: #F1F3F4;
    --text-secondary: #A8B0B4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-page);
}